<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌管理</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <!--图片上传组件的样式-->
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>

</head>
<body>
<div id="app">
    <!--查询表单-->
    <el-form :inline="true">
        <el-form-item label="品牌名称">
            <el-input placeholder="品牌名称"  v-model="searchMap.name" clearable></el-input>
        </el-form-item>
        <el-form-item label="品牌首字母">
            <el-input placeholder="品牌首字母"  v-model="searchMap.letter" clearable></el-input>
        </el-form-item>
            <el-button type="primary" @click="findPageList">查询</el-button>
            <el-button type="primary" @click="pojo={},imageUrl='',formVisible = true">新增</el-button>
    </el-form>
    <!--表格-->
    <el-table
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                prop="id"
                label="ID"
                width="180">
        </el-table-column>
        <el-table-column
                prop="name"
                label="品牌名称"
                width="180">
        </el-table-column>
        <el-table-column
                prop="letter"
                label="品牌首字母"
                width="180">
        </el-table-column>
        <el-table-column
                label="品牌图片"
                width="180">
            <!--模板列-->
            <tempalte slot-scope="scope">
                <img width="100px" height="50px" :src="scope.row.image">
            </tempalte>
        </el-table-column>
        <el-table-column
                prop="seq"
                label="品牌排序"
                width="180">
        </el-table-column>
        <el-table-column
                label="操作">
            <!--模板列-->
            <tempalte slot-scope="scope">
                <el-button type="text" @click="findById(scope.row.id)" size="small">修改</el-button>
                <el-button type="text" @click="deleteById(scope.row.id)" size="small">删除</el-button>
            </tempalte>
        </el-table-column>
    </el-table>
    <!--分页插件-->
    <el-pagination
            @size-change="findPageList2"
            @current-change="findPageList"
            :current-page.sync="currentPage"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
    </el-pagination>
    <!--新增或修改弹窗-->
    <el-dialog
            title="新增&修改品牌"
            :visible.sync="formVisible">
        <!--新增&修改表单-->
        <el-form label-width="100px">
            <el-form-item label="品牌名称">
                <el-input placeholder="品牌名称"  v-model="pojo.name" clearable></el-input>
            </el-form-item>
            <el-form-item label="品牌首字母">
                <el-input placeholder="品牌首字母"  v-model="pojo.letter" clearable></el-input>
            </el-form-item>
            <el-form-item label="品牌图片">
                <!--图片上传组件-->
                <el-upload
                        class="avatar-uploader"
                        action="/upload/oss.do?folder=brand"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            <el-form-item label="品牌排序">
                <el-input placeholder="品牌排序"  v-model="pojo.seq" clearable></el-input>
            </el-form-item>
            <el-form-item>
                     <el-button @click="formVisible = false">取消</el-button>
                     <el-button type="primary" @click="save()">确认</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>
</div>
</body>
<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/axios.js"></script>
<script>
    /*实例化一个Vue的对象*/
    new Vue({
        el:"#app",/*对象作用域*/
        data(){
            return{
                tableData:[],//表数据
                currentPage:1,//当前页
                size:10,  //每页条数
                total:10, //总数
                searchMap:{}, //绑定查询对象
                formVisible:false, //控制弹窗的变量
                pojo:{}, //绑定新增实体对象
                imageUrl:"" //品牌图片url
            }
        },
        created(){
            /*页面加载时，所做的事件*/

            /*分页查询*/
            this.fetchData();
        },
        methods:{
            /*分页查询*/
            fetchData(){
                axios.get(`/brand/findPage.do?page=${this.currentPage}&size=${this.size}`).then(response =>{
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
                })
            },
            /*分页+按条件查询,更改每页显示条数时触发*/
            findPageList2(e){
                this.size = e;
                axios.post(`/brand/findPageList.do?page=${this.currentPage}&size=${this.size}`,this.searchMap).then(response =>{
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
            })
            },
            /*分页+按条件查询,点击查询按钮触发*/
            findPageList(){
                axios.post(`/brand/findPageList.do?page=${this.currentPage}&size=${this.size}`,this.searchMap).then(response =>{
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
               })
            },
            /*新增品牌或者修改品牌*/
            save(){
                this.pojo.image = this.imageUrl; //保存时，把上传的图片路径绑定在实体图片路径
                axios.post(`/brand/${this.pojo.id==null?'add':'update'}.do`,this.pojo).then(response =>{
                    this.formVisible = false;
                    this.findPageList();
                })
            },
            /*根据Id查询品牌*/
            findById(id){
                this.formVisible = true; //打开窗口
                axios.get(`/brand/findById.do?id=${id}`).then(response =>{
                    this.pojo = response.data; //赋值pojo实体对象
                    this.imageUrl = this.pojo.image;//加载时，把实体图片路径绑定在上传的图片路径,显示图片
                })
            },
           /*根据id删除品牌*/
            deleteById(id){
                    this.$confirm('确认要删除吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        /*确认删除*/
                        axios.get(`/brand/delete.do?id=${id}`).then(response =>{
                            if(response.data.code == 0){
                                 this.$alert('删除成功!','提示');
                                 this.findPageList();
                            }else{
                                /*删除失败，返回异常信息给前台*/
                                this.$alert(response.data.message);
                            }
                            })
                      });
            },
            /*品牌图片上传成功后的事件*/
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
            },
            /*品牌图片上传之前对图片的校验*/
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        }
    })
</script>
</html>